body {
  margin: 0;
  font-family: monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace, monospace;
}

.landmark {
  background: white;
  border: 2px solid black;
  padding: 0 6px;
  margin: 6px;
  white-space: nowrap;
}

canvas {
  height: 100vh;
  width: 100vh;
}
